:root {
  --light-theme-backgorund: #fcf8b3dd;
  --light-theme-main-color: #3d3738;
  --light-theme-background-hover: #dbdbdb;
  --light-theme-second-color: #6c039c;

  --dark-theme-text: #dca23d;
  --dark-theme-background: #3d3738;
  --dark-theme-background-hover: #272324;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace, 'Courier New', Courier;
  background-color: var(--dark-theme-background);
  height: 100vh;
  width: 100vw;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cabecalho {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#status {
  font-size: 27px;
  margin-bottom: 15px;
}

.invalido {
  color: red;
}

.valido {
  color: green;
}

#rodape {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: .3s ease all !important;
}

#contatos {
  margin: 0 0 18px 18px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 60px;
}

#validar, #preencher {
  font-size: 30px;
  border: none;
  margin-top: 15px;
  padding: 5px;
  border-bottom: 2px solid;
  border-color: transparent;
  padding-bottom: 0;
}

#validar:hover, #preencher:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: .3s ease all !important;
}

#mudar-tema:hover {
  transform: scale(1.3);
  transition-property: transform 1s;
}

#tabuleiro {
    width: 386px;
}

#grid, .bloco-grid {
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-gap: 0;
  border: 1px solid;
}

.bloco-grid {
  grid-template-columns: auto auto auto; 
  border: 1px solid;
  box-sizing: border-box;
}

@media screen and (max-width:768px) {
  #grid, .bloco-grid { 
    grid-template-columns: auto; 
  }
}

.cell, .input-cell {
  border: 1px solid #bbbbbb;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flexbox;
  align-items: center;
}

.input-number, .default-number {
    width: 40px;
    height: 40px;
    border: none;
    text-align: center;
    font-size: 26px;
    padding: 0;
    caret-color: transparent;
    transition: .3s ease all !important;
}

.input-number:active, .input-number:focus, .input-number:hover {
  outline: none;
}

.default-number:active, .default-number:focus, .default-number:hover {
  outline: none;
}

.btn-preencher {
  font-size: 30px;
  border: none;
  margin-top: 15px;
  padding: 5px;
  border-bottom: 2px solid;
  border-color: transparent;
  padding-bottom: 0;
  border-radius: 2px;
  transition: .3s ease all !important;
}

#btn-tema {
  margin: 18px 18px 0 0;
  border: none;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  padding: 0;
  text-align: center;
  transition: .3s ease all !important;
}

#btn-tema:hover {
  cursor: pointer;
}

.btn-preencher:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.input-number::selection {
  text-decoration: none;
}

.dark-mode {
  background-color: var(--dark-theme-background);
  color: var(--dark-theme-text);
  transition: .3s ease all !important;
}

.default-number.dark-mode {
  color: #e9e9e9;
}

.input-number.dark-mode:active, .input-number.dark-mode:focus, .input-number.dark-mode:hover {
  background-color: var(--dark-theme-background-hover);
}

.default-number.dark-mode:hover {
  background-color: var(--dark-theme-background);
}

#grid.dark-mode, .bloco-grid.dark-mode {
  border-color: #e9e9e9;
}

.btn-preencher.dark-mode:hover {
  background-color: var(--dark-theme-background-hover);
  border-color: var(--dark-theme-text);
}

#validar.dark-mode:hover {
  background-color: var(--dark-theme-background-hover);
  border-color: var(--dark-theme-text);
}

#preencher.dark-mode:hover {
  background-color: var(--dark-theme-background-hover);
  border-color: var(--dark-theme-text);
}


.light-mode {
  background-color: var(--light-theme-backgorund);
  color: var(--light-theme-second-color);
  transition: .3s ease all !important;
}

.default-number.light-mode {
  color: var(--light-theme-main-color);
}

.input-number.light-mode:active, .input-number.light-mode:focus, .input-number.light-mode:hover {
    background-color: var(--light-theme-background-hover);
}

.default-number.light-mode:hover {
  background-color: var(--light-theme-backgorund);
}

#grid.light-mode, .bloco-grid.light-mode {
  border-color: var(--light-theme-main-color);
}

.btn-preencher.light-mode:hover {
  background-color: var(--light-theme-background-hover);
  border-color: var(--light-theme-second-color);
}

#validar.light-mode:hover {
  background-color: var(--light-theme-background-hover);
  border-color: var(--light-theme-second-color);
}

#preencher.light-mode:hover {
  background-color: var(--light-theme-background-hover);
  border-color: var(--light-theme-second-color);
}

.selecionado-auxiliar.dark-mode {
  background-color: var(--dark-theme-background-hover);
}

.selecionado-auxiliar.default-number.dark-mode:hover {
  background-color: var(--dark-theme-background-hover);
}

.selecionado-auxiliar.light-mode {
  background-color: var(--light-theme-background-hover);
}

.selecionado-auxiliar.default-number.light-mode:hover {
  background-color: var(--light-theme-background-hover);
}
